# Let's explore the NFL data we collected.

In [2]:
import pandas as pd

Load the data set from the data folder.

In [3]:
path = "../../nfl/data/nfl_data.xlsx"
df = pd.read_excel(path)

First, use shape, head, and describe to get a basic idea of the data.

In [4]:
df.shape

(288, 45)

In [10]:
df.head()

,Team,off_gp,off_total_yds,off_total_yds_g,off_pass_yds,off_pass_yds_g,off_rush_yds,off_rush_yds_g,off_pts,off_pts_g,...,give_total,record,rat,pwr,off,def,hfa,sos,Year,Playoff
0,Miami Dolphins,17,7032,413.6,5062,297.8,1970,115.9,496,29.2,...,21,0.500,8.47,0.39,23.59,-0.46,1.54,1.01,2022,1
1,San Francisco 49ers,16,6361,397.6,4129,258.1,2232,139.5,455,28.4,...,17,0.750,9.00,6.21,24.83,4.13,1.48,-0.75,2022,1
2,Kansas City Chiefs,17,6614,389.1,4105,241.5,2509,147.6,477,28.1,...,23,0.850,9.29,6.84,29.36,0.22,1.48,1.13,2022,1
3,Los Angeles Rams,17,6460,380.0,4281,251.8,2179,128.2,453,26.6,...,23,0.294,8.13,-1.36,20.30,1.08,1.42,0.74,2022,0
4,Philadelphia Eagles,17,6216,365.6,3856,226.8,2360,138.8,450,26.5,...,19,0.800,9.12,6.69,28.36,1.08,1.55,0.21,2022,1

In [11]:
df.describe()

,off_gp,off_total_yds,off_total_yds_g,off_pass_yds,off_pass_yds_g,off_rush_yds,off_rush_yds_g,off_pts,off_pts_g,def_total_yds,...,give_total,record,rat,pwr,off,def,hfa,sos,Year,Playoff
count,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,...,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000
mean,16.215278,5634.579861,347.582986,3792.482639,234.042361,1842.097222,113.543056,370.527778,22.862847,5634.579861,...,22.211806,0.491868,8.415972,0.000035,23.176181,0.531354,2.154826,0.175903,2018.000000,0.395833
std,0.411730,564.012813,34.617047,556.643681,34.836500,345.198752,20.690839,68.845425,4.252612,490.399283,...,5.622280,0.182777,0.421842,4.381599,3.187685,2.483512,0.494470,0.965255,2.586483,0.489880
min,16.000000,3865.000000,241.600000,2219.000000,130.500000,1156.000000,72.300000,224.000000,14.000000,4274.000000,...,8.000000,0.000000,7.190000,-9.570000,16.120000,-5.450000,1.340000,-2.330000,2014.000000,0.000000
25%,16.000000,5231.250000,323.100000,3411.750000,206.000000,1610.500000,98.775000,320.000000,19.675000,5325.250000,...,18.000000,0.375000,8.137500,-2.992500,20.735000,-1.252500,1.560000,-0.465000,2016.000000,0.000000
50%,16.000000,5662.500000,348.950000,3759.000000,233.400000,1800.500000,111.200000,365.500000,22.750000,5625.500000,...,22.000000,0.500000,8.410000,-0.270000,22.865000,0.730000,2.430000,0.185000,2018.000000,0.000000
75%,16.000000,6012.500000,372.600000,4184.500000,257.075000,2029.250000,124.950000,418.250000,26.000000,5994.000000,...,25.000000,0.626750,8.712500,2.992500,25.300000,2.235000,2.580000,0.847500,2020.000000,1.000000
max,17.000000,7032.000000,431.500000,5229.000000,320.300000,3296.000000,206.000000,565.000000,35.300000,6760.000000,...,41.000000,0.895000,9.520000,11.100000,32.500000,6.420000,2.820000,2.640000,2022.000000,1.000000

We can't see all of the columns because there are 45. Let's list the column names.

In [14]:
columns = df.columns
columns

Index(['Team', 'off_gp', 'off_total_yds', 'off_total_yds_g', 'off_pass_yds',
       'off_pass_yds_g', 'off_rush_yds', 'off_rush_yds_g', 'off_pts',
       'off_pts_g', 'def_total_yds', 'def_total_yds_g', 'def_pass_yds',
       'def_pass_yds_g', 'def_rush_yds', 'def_rush_yds_g', 'def_pts',
       'def_pts_g', 'kick_att', 'kick_yds', 'kick_avg', 'kick_lng', 'kick_td',
       'punt_att', 'punt_yds', 'punt_avg', 'punt_lng', 'punt_td', 'punt_fc',
       'turn_diff', 'take_int', 'take_fum', 'take_total', 'give_int',
       'give_fum', 'give_total', 'record', 'rat', 'pwr', 'off', 'def', 'hfa',
       'sos', 'Year', 'Playoff'],
      dtype='object')

To look at steps taken to clean the data, you can reference the 'eda.py' file. This notebook will focus on data exploration and visualization.

In [18]:
df["Playoff"].value_counts()

Playoff
0    174
1    114
Name: count, dtype: int64

In [19]:
df["Playoff"].value_counts()[0]/(df["Playoff"].value_counts()[0] + df["Playoff"].value_counts()[1])

np.float64(0.6041666666666666)

About 60% of the observations in the data set are teams that did not make the playoff. This data is relatively balanced.

We can also compare the mean stats between teams that made the playoffs versus those who did not.

In [5]:
conditionalMeans = df.groupby("Playoff").mean(numeric_only=True).drop("Year", axis = 1)
conditionalMeans.transpose()

Playoff                    0            1
off_gp             16.201149    16.236842
off_total_yds    5447.333333  5920.377193
off_total_yds_g   336.361494   364.710526
off_pass_yds     3684.522989  3957.263158
off_pass_yds_g    227.677586   243.757018
off_rush_yds     1762.810345  1963.114035
off_rush_yds_g    108.683333   120.960526
off_pts           339.068966   418.543860
off_pts_g          20.939655    25.798246
def_total_yds    5755.109195  5450.614035
def_total_yds_g   355.204598   335.887719
def_pass_yds     3829.057471  3736.657895
def_pass_yds_g    236.408046   230.401754
def_rush_yds     1926.051724  1713.956140
def_rush_yds_g    118.802874   105.497368
def_pts           392.816092   336.508772
def_pts_g          24.254023    20.734211
kick_att           33.936782    30.561404
kick_yds          772.419540   688.385965
kick_avg           22.552874    22.381579
kick_lng           57.839080    58.894737
kick_td             0.195402     0.236842
punt_att           29.212644    31.245614
punt_yds          247.034483   268.561404
punt_avg            8.522989     8.541228
punt_lng           42.068966    41.114035
punt_td             0.270115     0.228070
punt_fc            19.022989    18.526316
turn_diff          -3.591954     5.429825
take_int           12.172414    14.868421
take_fum            8.436782     9.736842
take_total         20.609195    24.605263
give_int           14.729885    10.964912
give_fum            9.471264     8.210526
give_total         24.201149    19.175439
record              0.379080     0.664018
rat                 8.163103     8.801930
pwr                -2.335862     3.565351
off                21.787184    25.296228
def                -0.418276     1.980789
hfa                 2.164425     2.140175
sos                 0.030057     0.398509

If we standardize all columns and then compute the difference between teams that did vs did not make the playoffs, we can see which variables differ the most between classes.

First, let's create a function that will standardize a given column.

In [23]:
def standardize(column):
    return (column - column.mean())/column.std()

We can create the standardized data set by copying our original data set and applying our function to the relevant columns.

In [39]:
#Copy df
standardizedDf = df.copy()

#Drop unnecessary columns 
standardizedDf = standardizedDf.drop(["Playoff", "Team", "Year"], axis = 1)

#Apply standardization function
standardizedDf = standardizedDf.apply(standardize)

Let's check if everything worked properly. All columns in the data frame should have a mean of 0 (*won't be exact because of rounding error*).

In [40]:
for col in standardizedDf.columns:
    if round(standardizedDf[col].mean(),5) > 0 or round(standardizedDf[col].mean(),5) < 0:
        print("fail")
    else:
        pass

Our test passed so it looks like it worked. Now we can add the "Playoff" column back and compare the group means.

In [44]:
standardizedDf["Playoff"] = df["Playoff"]
standardizedDf = standardizedDf.groupby("Playoff").mean()

standardizedDf.transpose()

Playoff                 0         1
off_gp          -0.034315  0.052375
off_total_yds   -0.331990  0.506721
off_total_yds_g -0.324161  0.494772
off_pass_yds    -0.193948  0.296025
off_pass_yds_g  -0.182704  0.278864
off_rush_yds    -0.229685  0.350571
off_rush_yds_g  -0.234873  0.358491
off_pts         -0.456948  0.697448
off_pts_g       -0.452238  0.690258
def_total_yds    0.245778 -0.375135
def_total_yds_g  0.255992 -0.390725
def_pass_yds     0.095902 -0.146376
def_pass_yds_g   0.098460 -0.150281
def_rush_yds     0.278267 -0.424723
def_rush_yds_g   0.294616 -0.449676
def_pts          0.407612 -0.622144
def_pts_g        0.413797 -0.631585
kick_att         0.168686 -0.257468
kick_yds         0.151033 -0.230524
kick_avg         0.026158 -0.039926
kick_lng        -0.017054  0.026030
kick_td         -0.035851  0.054721
punt_att        -0.108159  0.165086
punt_yds        -0.094358  0.144020
punt_avg        -0.003182  0.004857
punt_lng         0.016840 -0.025703
punt_td          0.032666 -0.049859
punt_fc          0.032557 -0.049693
turn_diff       -0.420070  0.641159
take_int        -0.257055  0.392348
take_fum        -0.170668  0.260494
take_total      -0.286497  0.437284
give_int         0.334336 -0.510303
give_fum         0.172437 -0.263194
give_total       0.353832 -0.540060
record          -0.617079  0.941857
rat             -0.599440  0.914935
pwr             -0.533115  0.813702
off             -0.435738  0.665074
def             -0.382374  0.583623
hfa              0.019413 -0.029630
sos             -0.151095  0.230619

Finally, we can calculate the difference between playoff and non-playoff teams for each variable.

In [46]:
#Create empty data frame
differences = pd.DataFrame({"stat":[], "difference":[]})

#Iteratively calculate differences and add to the data frame
ind = 0
for col in standardizedDf:
    diff = standardizedDf[col][1] - standardizedDf[col][0]
    newRow = pd.DataFrame({"stat":col, "difference":diff}, index = [ind])
    differences = pd.concat([differences, newRow])
    ind = ind + 1
    
differences.sort_values(by = "difference")

               stat  difference
16        def_pts_g   -1.045383
15          def_pts   -1.029756
34       give_total   -0.893892
32         give_int   -0.844639
14   def_rush_yds_g   -0.744292
13     def_rush_yds   -0.702989
10  def_total_yds_g   -0.646717
9     def_total_yds   -0.620913
33         give_fum   -0.435631
17         kick_att   -0.426153
18         kick_yds   -0.381556
12   def_pass_yds_g   -0.248742
11     def_pass_yds   -0.242278
26          punt_td   -0.082525
27          punt_fc   -0.082250
19         kick_avg   -0.066084
40              hfa   -0.049042
25         punt_lng   -0.042544
24         punt_avg    0.008039
20         kick_lng    0.043084
0            off_gp    0.086689
21          kick_td    0.090572
23         punt_yds    0.238378
22         punt_att    0.273245
41              sos    0.381714
30         take_fum    0.431162
4    off_pass_yds_g    0.461569
3      off_pass_yds    0.489973
5      off_rush_yds    0.580256
6    off_rush_yds_g    0.593364
29         take_int    0.649403
31       take_total    0.723781
2   off_total_yds_g    0.818933
1     off_total_yds    0.838711
39              def    0.965997
28        turn_diff    1.061229
38              off    1.100813
8         off_pts_g    1.142495
7           off_pts    1.154396
37              pwr    1.346817
36              rat    1.514375
35           record    1.558937

### Look at correlations

In [4]:
dfNoTeam = df.copy().drop("Team", axis = 1)
correlations = dfNoTeam.corr()
correlations = correlations.loc[:, "Playoff"]
correlations = correlations.reset_index().rename(columns = {"index": "variable"})
correlations = correlations[(correlations["Playoff"] > 0.50) | (correlations["Playoff"] < -0.50)]
correlations.sort_values(by = "Playoff")

     variable   Playoff
16  def_pts_g -0.512112
15    def_pts -0.504457
28  turn_diff  0.519875
38        off  0.539266
8   off_pts_g  0.559686
7     off_pts  0.565516
37        pwr  0.659779
36        rat  0.741862
35     record  0.763692
43    Playoff  1.000000